body {
    height: 125vh;
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
    margin-top: 65px;
    background-color: #0C243C;
    color: white;
    overflow-y: scroll; overflow-x: hidden;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px 0 black;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    background-color: black;
}
header * {
    display: inline;
}

header li {
    margin: 40px;
    font-size: 12px;
}

header li a {
    color: lightgray;
    text-decoration: none;
}
header li a:hover {
    color: white;
}

.logo {
    margin-left: 3%;
    font-weight: 400;
    color: aliceblue;
}
.logo a {
    color: white;
    text-decoration: none;
}

#items h2 {
    margin-left: 50px;
    margin-top: 100px;
}

.images img {
    height: 350px;
    width: 350px;
    padding: 50px;
    padding-top: 0;
}

#footer {
    display: table;
    padding: 0;
    margin: 0;
}

.info {
    display: table-cell;
    width: 15%;
    padding-left: 3%;
    padding-right: 1%;
}

.customer-care {
    display: table-cell;
    width: 15%;
}

.stores {
    display: table-cell;
    width: 10%;   
}
.app {
    display: table-cell;
    width: 25%;
}

.app img {
    width: 130px;
    height: 180px;
    position: absolute;
    margin-top: 80px;
}

.comment {
    display: table-cell;
    width: 15%;  
}

.Thank-you {
    display: table-cell;
    width: 20%;    
    padding-left: 1%;
    padding-right: 3%;
}


@media (max-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    #footer {
        font-size: 12px;
    }
    .app img {
        visibility: hidden;
    }

    .info {
        display: table-cell;
        width: 16%;
        padding-left: 3%;
        padding-right: 1%;
    }
    
    .customer-care {
        display: table-cell;
        width: 16%;
    }
    
    .stores {
        display: table-cell;
        width: 16%;   
    }
    .app {
        display: table-cell;
        width: 16%;
    }
    
    .comment {
        display: table-cell;
        width: 16%;  
    }
    
    .Thank-you {
        display: table-cell;
        width: 16%;    
        padding-left: 1%;
        padding-right: 3%;
    }
}

@media (max-width:574px)  { /* smartphones, Android phones, landscape iPhone */
    header li {
        margin: 20px;
        font-size: 8px;
    }
}